body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: red;
}

h2 {
    color: red;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

fieldset {
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.table-responsive {
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

td.set-width {
    min-width: 170px;
}

.table-hover tbody tr:hover,
.table-hover tbody tr:hover td {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*background-color: white;*/
    background: #e7e7e7; /* Old browsers */
    background: -moz-linear-gradient(top, #e7e7e7, /*#f8f8f8, #fefefe,*/ #ffffff, #e7e7e7); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#e7e7e7), /*color-stop(#f8f8f8), color-stop(#fefefe),*/ color-stop(#ffffff), color-stop(#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e7e7e7, /*#f8f8f8, #fefefe,*/ #ffffff, #e7e7e7); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e7e7e7, /*#f8f8f8, #fefefe,*/ #ffffff, #e7e7e7); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e7e7e7, /*#f8f8f8, #fefefe,*/ #ffffff, #e7e7e7); /* IE10+ */
    background: linear-gradient(to bottom, #e7e7e7, /*#f8f8f8, #fefefe,*/ #ffffff, #e7e7e7); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a:link {
    color: red;
}

a:visited {
    color: darkred;
}

a.btn-in-quick:visited {
    color: red;
}

.btn-in-quick {
    color: red !important;
    background-color: white;
    font-weight: bold;
    border: 5px solid red;
}

    .btn-in-quick:hover {
        color: white !important;
        background-color: red;
        font-weight: bold;
        /*border: 5px solid white;*/
    }

.btn input[type=file] {
    display: none;
}

ul.no-bullets {
    list-style: none;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

.navbar-brand > .img-responsive {
    margin-top: -10px;
    max-height: 40px;
}

.panel-group {
    /*border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;*/
}

.panel-heading {
    color: red !important;
    background-color: white !important;
    border: 5px solid red !important;
    border-radius: 5px;
    cursor: pointer;
}

    .panel-heading > h4 {
        font-weight: bold;
    }

.center-horizontally {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.decorative-div {
    /*background-color: rgba(239, 239, 239, 0.5);
    background-color: #efefef;*/
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 10px;
}

    .decorative-div > h3 {
        font-weight: bold;
        color: white;
    }

.margin-15 {
    margin: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.form-control:focus {
    border-color: red;
    border-width: 2px;
}

.img-center {
    margin: 0 auto;
}

#new-patient-accordion {
    display: inline-block;
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    label.col-xs-4.control-label {
        padding-left: 0 !important;
        text-align: left !important;
    }

    .form-control {
        padding-right: 0;
    }
}
