body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: red;
}

h2 {
    color: red;
    font-weight: bold;
}

fieldset {
    padding-top: 5px;
    margin-bottom: 5px;
    /*border: 5px solid #efefef;*/
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a:link {
    color: red;
}

a:visited {
    color: darkred;
}

a.btn-in-quick:visited {
    color: red;
}

.btn-in-quick {
    color: red;
    background-color: white;
    font-weight: bold;
    border: 5px solid red;
}

.btn-in-quick:hover {
    color: white !important;
    background-color: red;
    font-weight: bold;
    border: 5px solid white;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

.navbar-brand > .img-responsive {
    margin-top: -10px;
    max-height: 40px;
}

.panel-heading {
    color: red !important;
    background-color: white !important;
    border: 5px solid red !important;
    cursor: pointer;
}

    .panel-heading > h4 {
        font-weight: bold;
    }

.center-horizontally {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button-group {
    /*background-color: rgba(239, 239, 239, 0.5);
    background-color: #efefef;*/
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 10px;
}

.form-control:focus {
    border-color: red;
    border-width: 2px;
}

.img-center {
    margin: 0 auto;
}

#new-patient-accordion {
    display: inline-block;
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
