
@{
    ViewData["Title"] = "New Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<hr />

<form>

    <!-- Date of Consultation -->
    <div class="col-md-6 form-group form-group-lg">
        <label for="consultation-date" class="col-xs-4 control-label">Date of Consultation:</label>
        <div class="col-xs-8">
            <input type="date" class="form-control" id="consultation-date" />
        </div>
    </div>

    <!-- Name of Doctor -->
    <div class="col-md-6 form-group form-group-lg">
        <label for="doctor-name" class="col-xs-4 control-label">Name of Doctor:</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="doctor-name" placeholder="Jane Doe" />
        </div>
    </div>

    <!-- Referred By -->
    <div class="col-md-6 form-group form-group-lg">
        <label for="referred-by" class="col-xs-4 control-label">Referred By:</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="referred-by" placeholder="John Doe" />
        </div>
    </div>

    <!-- Case Type -->
    <div class="col-md-6 form-group form-group-lg">
        <label for="case-type" class="col-xs-4 control-label">Case Type:</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="case-type" placeholder="?" />
        </div>
    </div>

    <!-- Details of Injury or Illness -->
    <div class="col-md-6 form-group form-group-lg">
        <label for="problem-details" class="col-xs-4 control-label">Details of Injury or Illness:</label>
        <div class="col-xs-8">
            <textarea class="form-control" id="problem-details" rows="3" placeholder="Include date, location, and other details."></textarea>
        </div>
    </div>

    <!-- Details of Treatment Administered -->
    <div class="col-md-6 form-group form-group-lg">
        <label for="previous-treatment" class="col-xs-4 control-label">Details of Treatment Administered:</label>
        <div class="col-xs-8">
            <textarea class="form-control" id="previous-treatment" rows="3" placeholder="?"></textarea>
        </div>
    </div>

    <!-- Accordion -->
    <div class="panel-group" id="new-patient-accordion" role="tablist" aria-multiselectable="true">

        <!-- Registration Details -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="registration-heading" data-toggle="collapse" data-parent="#new-patient-accordion" href="#registration-details">
                <h4 class="panel-title">Patient Registration Details</h4>
            </div>
            <div id="registration-details" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="registration-heading">

                <div class="panel-body">

                    <fieldset>

                        <!-- Name -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-name" class="col-xs-4 control-label">Name:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="patient-name" />
                            </div>
                        </div>

                        <!-- SSN -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-ssn" class="col-xs-4 control-label">SSN:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="patient-ssn" />
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-street" class="col-xs-4 control-label">Address:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="patient-street" />
                            </div>
                        </div>

                        <!-- City -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-city" class="col-xs-4 control-label">City:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="patient-city" />
                            </div>
                        </div>

                        <!-- State -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-state" class="col-xs-4 control-label">State:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="patient-state" />
                            </div>
                        </div>

                        <!-- ZIP -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-zip" class="col-xs-4 control-label">ZIP:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="patient-zip" />
                            </div>
                        </div>

                        <!-- Mobile # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-mobile" class="col-xs-4 control-label">Mobile #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="patient-mobile" />
                            </div>
                        </div>

                        <!-- Home # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-home" class="col-xs-4 control-label">Home #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="patient-home" />
                            </div>
                        </div>

                        <!-- Work # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-work" class="col-xs-4 control-label">Work #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="patient-work" />
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="patient-email" class="col-xs-4 control-label">Email:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="patient-email" />
                            </div>
                        </div>

                        <!-- Notes & Comments -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="notes-comments" class="col-xs-4 control-label">Notes & Comments:</label>
                            <div class="col-xs-8">
                                <textarea class="form-control" id="notes-comments" rows="3" placeholder="?"></textarea>
                            </div>
                        </div>

                        <!-- Instructions -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="instructions" class="col-xs-4 control-label">Instructions:</label>
                            <div class="col-xs-8 text-left" id="instructions">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Pre-visit instructions and directions provided.</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Applicable records and reports acquired.</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Appointment date and time confirmed.</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Insurance pre-authorization completed (if required).</label>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </div> <!-- end panel-body -->

            </div> <!-- end panel-collapse -->

        </div> <!-- end panel -->
        <!-- Insurance Details -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="insurance-heading" data-toggle="collapse" data-parent="#new-patient-accordion" href="#insurance-details">
                <h4 class="panel-title">Insurance Details</h4>
            </div>
            <div id="insurance-details" class="panel-collapse collapse" role="tabpanel" aria-labelledby="insurance-heading">

                <div class="panel-body">

                    <fieldset>

                        <!-- Insured's Name -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="insureds-name" class="col-xs-4 control-label">Insured's Name:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="insureds-name" />
                            </div>
                        </div>

                        <!-- D.O.B. -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="insureds-dob" class="col-xs-4 control-label">D.O.B.:</label>
                            <div class="col-xs-8">
                                <input type="date" class="form-control" id="insureds-dob" />
                            </div>
                        </div>

                        <!-- Relationship -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="relationship-to-insured" class="col-xs-4 control-label">Relationship:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="relationship-to-insured" />
                            </div>
                        </div>

                        <!-- Since -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="relationship-date" class="col-xs-4 control-label">Since:</label>
                            <div class="col-xs-8">
                                <input type="date" class="form-control" id="relationship-date" />
                            </div>
                        </div>

                        <!-- Employer -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="insureds-employer" class="col-xs-4 control-label">Employer:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="insureds-employer" />
                            </div>
                        </div>

                        <!-- Phone # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="employers-phone" class="col-xs-4 control-label">Phone #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="employers-phone" />
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="employers-address" class="col-xs-4 control-label">Address:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="employers-address" />
                            </div>
                        </div>

                        <!-- City -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="employers-city" class="col-xs-4 control-label">City:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="employers-city" />
                            </div>
                        </div>

                        <!-- State -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="employers-state" class="col-xs-4 control-label">State:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="employers-state" />
                            </div>
                        </div>

                        <!-- ZIP -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="employers-zip" class="col-xs-4 control-label">ZIP:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="employers-zip" />
                            </div>
                        </div>

                        <!-- Note -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="employers-note" class="col-xs-4 control-label">Note:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="employers-note" />
                            </div>
                        </div>

                        <!-- Supervisor -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="insureds-supervisor" class="col-xs-4 control-label">Supervisor:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="insureds-supervisor" />
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>

                        <!-- Primary Insurance -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance" class="col-xs-4 control-label">Primary Insurance:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance" />
                            </div>
                        </div>

                        <!-- Phone # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-phone" class="col-xs-4 control-label">Phone #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="primary-insurance-phone" />
                            </div>
                        </div>

                        <!-- Insured's ID -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-id" class="col-xs-4 control-label">Insured's ID:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-id" />
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-address" class="col-xs-4 control-label">Address:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-address" />
                            </div>
                        </div>

                        <!-- City -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-city" class="col-xs-4 control-label">City:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-city" />
                            </div>
                        </div>

                        <!-- State -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-state" class="col-xs-4 control-label">State:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-state" />
                            </div>
                        </div>

                        <!-- ZIP -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-zip" class="col-xs-4 control-label">ZIP:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-zip" />
                            </div>
                        </div>

                        <!-- Group # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-group" class="col-xs-4 control-label">Group #:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-group" />
                            </div>
                        </div>

                        <!-- Contact -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-contact" class="col-xs-4 control-label">Contact:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-contact" />
                            </div>
                        </div>

                        <!-- Title -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-contact-title" class="col-xs-4 control-label">Title:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-contact-title" />
                            </div>
                        </div>

                        <!-- Phone # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-contact-phone" class="col-xs-4 control-label">Phone #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="primary-insurance-contact-phone" />
                            </div>
                        </div>

                        <!-- Claim # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-claim" class="col-xs-4 control-label">Claim #:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-claim" />
                            </div>
                        </div>

                        <!-- Notes -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="primary-insurance-notes" class="col-xs-4 control-label">Notes #:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="primary-insurance-notes" />
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>

                        <!-- Secondary Insurance -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance" class="col-xs-4 control-label">Secondary Insurance:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance" />
                            </div>
                        </div>

                        <!-- Phone # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-phone" class="col-xs-4 control-label">Phone #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="secondary-insurance-phone" />
                            </div>
                        </div>

                        <!-- Insured's ID -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-id" class="col-xs-4 control-label">Insured's ID:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-id" />
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-address" class="col-xs-4 control-label">Address:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-address" />
                            </div>
                        </div>

                        <!-- City -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-city" class="col-xs-4 control-label">City:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-city" />
                            </div>
                        </div>

                        <!-- State -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-state" class="col-xs-4 control-label">State:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-state" />
                            </div>
                        </div>

                        <!-- ZIP -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-zip" class="col-xs-4 control-label">ZIP:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-zip" />
                            </div>
                        </div>

                        <!-- Group # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-group" class="col-xs-4 control-label">Group #:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-group" />
                            </div>
                        </div>

                        <!-- Contact -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-contact" class="col-xs-4 control-label">Contact:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-contact" />
                            </div>
                        </div>

                        <!-- Title -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-contact-title" class="col-xs-4 control-label">Title:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-contact-title" />
                            </div>
                        </div>

                        <!-- Phone # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-contact-phone" class="col-xs-4 control-label">Phone #:</label>
                            <div class="col-xs-8">
                                <input type="tel" class="form-control" id="secondary-insurance-contact-phone" />
                            </div>
                        </div>

                        <!-- Claim # -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-claim" class="col-xs-4 control-label">Claim #:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-claim" />
                            </div>
                        </div>

                        <!-- Notes -->
                        <div class="col-md-6 form-group form-group-lg">
                            <label for="secondary-insurance-notes" class="col-xs-4 control-label">Notes #:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="secondary-insurance-notes" />
                            </div>
                        </div>

                    </fieldset>

                </div> <!-- end panel-body -->

            </div> <!-- end panel-collapse -->

        </div> <!-- end panel -->

    </div>

</form>