@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="row">

    <div class="col-md-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="bryan-haines">
            <a class="LI-simple-link" href='https://www.linkedin.com/in/bryan-haines?trk=profile-badge'>Bryan Haines</a>
        </div>
    </div>
    <br />
    <div class="col-md-4">
        <address>
            301 Main St.<br />
            Columbia, SC 29208<br />
            <abbr title="Phone">P:</abbr>
            (360) 507-5301<br /><br />
            <strong>Support:</strong> <a href="mailto:hainesb@email.sc.edu">hainesb@email.sc.edu</a><br />
        </address>
    </div>

</div>